<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.eplive.EPLive</string>
	<key>CFBundleName</key>
	<string>EPLive</string>
	<key>CFBundleDisplayName</key>
	<string>EPLive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSCameraUsageDescription</key>
	<string>EPLive needs access to your camera to stream video.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>EPLive needs access to your microphone to stream audio.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
